* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: white;
    color:navy;
    padding: 1em;
  }
  main {
    max-width: 10000px;
    margin: 0 auto;
  }
  .hamburger {
    display: none;
  }
  .hamburger span {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 5px;
    background-color: navy;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  nav {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: right;
    
  }
  .nav-items {
    padding: 20px;
  }
  nav a {
    text-decoration: none;
    gap: 50px;
    color: navy;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .btn {
    background-color:white;
    border-radius: 10px;
    padding: 4px;
    height: 40px;
    width: 100px;
    margin: 10px;
  }
  h3 {
    background-color: white;
    padding: 20px;
    border: 2px solid red;
  }

  .full-form {
    display: flex;
    justify-content: center;
    background:#cfd9e7;
    color: navy;
    margin:150px;
    width:450px;
    padding: 50px;
    font-size: 17px;
    border: 2px solid navy;
    border-radius: 10px;
  }
  .full-form button {
    width: 300px;
    margin: 50px;
    padding: 10px;
    background: red;
    color:white;
    border-radius: 30px;
    font-size: 17px;
  }
  button:hover {
    background: navy;
  }
  
  #fullname {
    width: 400px;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  #email {
    width: 400px;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  #company-name {
    width: 400px;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  #textarea {
    width: 400px;
    margin: 10px;
    background: white;
    color: red;
    padding: 10px;
    border-radius: 5px;
  }
  footer {
    background: white;
    font-size: 20px;
    text-align: center;
    color: navy;
  }

.footer-section {
    border: 2px solid navy;
    display: flex;
    grid-template-columns: 20% 1fr minmax(500px);
    grid-gap: 40px;
    font-size: 15px;
    margin: 1em;
    padding: 50px;

}
.menu {
    display: grid;
    align-items: right;
    text-decoration: none;
}
.menu a {
    text-decoration: none;
    text-align: left;
}
.cont {
    display: grid;
    grid-template-rows: 30%;
}
.cont div{
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 500px) {
    .footer-section{
        font-size: 10px;
      }
    #svg {
        height:10px;
        width: 15px;
      }
    body {
        width: 95%;
        color: navy;
      }
    .nav-items {
        display: none;
      }
    .logo {
        display: none;
      }
    .hamburger {
        display: block;
      }
      .full-form{
        margin: auto;
        width: 300px;
        padding: 20px;
    }
    .full-form button{
        width: 150px;
    }
      #fullname {
        width: 250px;
      }
      #email {
        width: 250px;
      }
      #company-name {
        width: 250px;
      }
      #textarea {
        width: 250px;
      }

}