* {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    background: white;
    color:navy;
    padding: 1em;
  }
  main {
    max-width: 10000px;
    margin: 0 auto;
  }
  .hamburger {
    display: none;
  }
  .hamburger span {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 5px;
    background-color: navy;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  nav {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: right;
  }
  .nav-items {
    padding: 20px;
  }

  .nav-items button {
    color: navy;
    background: white;
  }
  nav a {
    text-decoration: none;
    gap: 50px;
    color: navy;
    font-size: 20px;
    margin-left: 10px;
  }
  
  .btn {
    border-radius: 10px;
    padding: 4px;
    height: 40px;
    width: 100px;
    margin: 10px;
  }

  .login-page {
    display:flex;
    justify-content: center;
    background: #cfd9e7;
    width: 500px;
    height: 500px;
    border: 2px solid navy;
    border-radius: 20px;
    padding: 80px;
    margin: 100px;
    font-size: 18px;
    color: navy;
  }
  h3{
    background: white;
    border: 2px solid navy;
    margin: 30px;
    padding: 20px;
    color: navy;
  }
  #username {
    padding: 10px;
    border: 2px solid navy;
    border-radius: 5px;
    width: 400px;
    margin: 12px;
  }
  #password {
    padding: 10px;
    border: 2px solid navy;
    border-radius: 5px;
    width: 400px;
    margin: 12px;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    background: red;
    color: white;
    font-size: 17px;
  }
  #checkbox {
    text-align: center;
    margin: 10px;
  }
  .login-page a {
    text-decoration: none;
  }

  a:hover {
    color:red;
  }

  button:hover {
    background-color: green;
  }

  footer {
    background: white;
    font-size: 15px;
    text-align: center;
    color: navy;
  }

.footer-section {
    border: 2px solid navy;
    display: flex;
    grid-template-columns: 20% 1fr minmax(500px);
    grid-gap: 40px;
    font-size: 15px;
    margin: 1em;
    padding: 50px;

}
.menu {
    display: grid;
    align-items: right;
    text-decoration: none;
}
.menu a {
    text-decoration: none;
    text-align: left;
}
.cont {
    display: grid;
    grid-template-rows: 30%;
}
.cont div{
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 500px) {
    .footer-section{
        font-size: 10px;
        padding: 20px;
      }
    #svg {
        height:10px;
        width: 15px;
      }
    body {
        width: 95%;
        color: navy;
      }
    .nav-items {
        display: none;
      }
    .logo {
        display: none;
      }
    .hamburger {
        display: block;
      }
    .login-page{
        margin: auto;
        width: 300px;
        padding: 35px;
    }
    button{
        width: 100px;
    }

    #username {
        width: 250px;
      }
    
    #password {
        width: 250px;
      }
      
}